html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

.home-container {
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 18em 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#header {
    grid-area: header;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    text-decoration: none;
    color: #212121;
    margin: 0 0 0 1em;
}

.header-logo {
    width: 2.5em;
}

.header-title > h1 {
    font-weight: 400;
}

#nav {
    grid-area: nav;
    border-bottom: 1px solid #E0E0E0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 1em;
}

.nav-links li {
    padding: 1em 1em;
}

.nav-links a {
    color: #4a4a4a;
    text-decoration: none;
}

#stats {
    grid-area: stats;
}

.stats-title {
    text-align: center;
}

.stats-list {
    list-style: none;
}

#aside {
    grid-area: aside;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 8em 1fr 5em;
    grid-template-areas: "header" "nav" "stats" "footer";
}

#main {
    grid-area: main;
    width: 100%;
    height: inherit;
}

#footer {
    justify-self: center;
    grid-area: footer;
}

#footer a {
    color: #9E9E9E;
    text-decoration: none;
}

.footer-links {
    text-align: center;
}

.footer-year {
    text-align: center;
}

.form-team-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-team {
    background: #ffffff;
    padding: 2em;
    margin: 0 2.5em;
}

.form-config {
    padding-bottom: 2em;
}

.form-team-errors {
    display: block;
    border: 1px solid #ebccd1;
    color: #a94442;
    background: #f2dede;
    padding: 2em;
}

.form-team-subform-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-bottom: 2em;
}

.form-team-submit-container {
    text-align: center;
}

.form-gridsize {
    text-align: center;
}

.form-team-mark {
    width: 3rem;
    height: 3rem;
    background-color: #ececec;
    background-size: cover;
    border: 2px solid #616161;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.form-team-marks {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.form-team-marks-title {
    display: inline-block;
    margin-right: auto;
}

.form-team-mark-selected {
    border-color: #1f57ff;
}

.form-group:not(:last-of-type) {
    padding-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.color-input {
    border: 1px solid #ced4da;
    height: 2em;
    padding: 0;
    width: 2em;
}

.submit-input {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.submit-input:hover {
    background: #ececec;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    position: relative;
    width: 44vw;
    height: 44vw;
}

.grid {
    border: 1px solid #b3b3b3;
    width: inherit;
    height: inherit;
}

.finished {
    opacity: .2;
}

.teams {
    text-align: center;
    width: 100%;
}

.winner, .no-winner {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-container {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rules {
    width: 50em;
    background: #fff;
    padding: 2em;
}

.form-homepage-container {
    margin-top: 2em;
    background: #fff;
    padding: 2em;
}

.img {
    max-width: 100%;
    height: auto;
}

.mark {
    text-align: center;
}

.marks {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    width: 15em;
    height: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.marks:first-child {
    border-left: 1px solid #b3b3b3;
}

.marks:last-child {
    border-right: 1px solid #b3b3b3;
}

.advanced-game {
    display: flex;
}

.menu {
    display: block;
    position: fixed;
    list-style: none;
    background: #fff;
    width: 5em;
    padding: 0;
    margin: 0;
    border: 1px solid #ababab;
}

.menu li {
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 1em 0.5em;
}

.menu li:hover {
    background: #e6e6e6;
}

.doubleAttack {
    display: flex;
    align-items: center
}

/**
Sources : http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
 */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
