html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

.home-container {
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 18em 1fr;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
}

#header {
    grid-area: header;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    text-decoration: none;
    color: #212121;
    margin: 0 0 0 1em;
}

.header-logo {
    width: 2.5em;
}

.header-title > h1 {
    font-weight: 400;
}

#aside {
    grid-area: aside;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 1fr 3em;
    grid-template-areas: "header" "." "footer";
}

#main {
    grid-area: main;
    width: 100%;
}

#footer {
    justify-self: center;
    grid-area: footer;
}

#footer a {
    color: #9E9E9E;
    text-decoration: none;
}

.footer-year {
    text-align: center;
}

.form-team-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-team {
    background: #ffffff;
    padding: 2em;
    margin: 0 2.5em;
}

.form-team-subform-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-bottom: 2em;
}

.form-team-submit-container {
    text-align: center;
}

.form-team-mark {
    width: 3rem;
    height: 3rem;
    background-image: url('../images/warriors/viking.png');
    background-color: #ececec;
    background-size: cover;
    border: 2px solid #616161;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.form-team-marks {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.form-team-marks-title {
    display: inline-block;
    margin-right: auto;
}

.form-team-mark-selected {
    border-color: #1f57ff;
}

.form-group:not(:last-of-type) {
    padding-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.color-input {
    border: 1px solid #ced4da;
    height: 2em;
    padding: 0;
    width: 2em;
}

.submit-input {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.submit-input:hover {
    background: #ececec;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    position: relative;
    width: 44vw;
    height: 44vw;
}

.grid {
    border: 1px solid #b3b3b3;
    width: inherit;
    height: inherit;
}

.finished {
    opacity: .2;
}

.teams {
    text-align: center;
    width: 100%;
}

.winner, .no-winner {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
